@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgba(255, 255, 255, 0.87);
	/* background-color: #fff; */
}

.fade-enter-active,
.fade-exit-active {
	transition: opacity 0.25s;
}
.fade-enter,
.fade-exit-to {
	opacity: 0;
}

a {
    color: #5C9FCC; /* pastel blue */
    text-decoration: underline;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
    color: #3A82B7; /* darker shade on hover */
    text-decoration: none;
}
