@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgba(255, 255, 255, 0.87);
}

.fade-enter-active,
.fade-exit-active {
	transition: opacity 0.25s;
}
.fade-enter,
.fade-exit-to {
	opacity: 0;
}
